/* src/components/Projects.css */
.projects {
    padding: 100px 20px;
    background-color: var(--secondary-color);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .projects-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project-card {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 calc(33.333% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .project-card h3 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .project-card p {
    font-size: 16px;
  }
  