.projects {
  padding: 100px 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.projects::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Dark overlay for better text readability */
  z-index: 0;
}

.projects-title {
  font-size: 3rem;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  text-align: center; /* Center the title text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

.projects-list {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  gap: 20px;
  position: relative;
  z-index: 1;
  align-items: center; /* Center cards horizontally */
}

.project-card {
  background: var(--primary-color);
  color: black;
  padding: 30px;
  border-radius: 12px;
  width: 50%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
  perspective: 1000px; /* Perspective for 3D effect */
  position: relative;
  overflow: hidden;
  height: 200px; /* Initial height */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-card:hover {
  transform: scale(1.02); /* Slightly enlarge card on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.project-card:after {
  content: '→';
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: black;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-card:hover:after {
  opacity: 1;
  color: white;
}

.project-card-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg); /* Flip effect on hover */
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.project-card-front {
  background: var(--primary-color);
  color: black;
  font-size: 1.5rem;
}

.project-card-back {
  background: #333;
  color: #fff;
  transform: rotateY(180deg); /* Back side flipped */
  overflow: scroll;
  font-size: 1.2rem;
}

.project-card-back .inner-content {
  padding: 20px;
}
