@media (max-width: 768px) {
  :root {
    --max-width: 768px;

    --font-size: 1rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --font-size-sm: 0.8rem;
    --font-size-xs: 0.6rem;
  
    --line-height: 1.2;
    --line-height-lg: 1.5;
    --line-height-sm: 1.0;
  
    --spacing-1: 5px;
    --spacing-2: 10px;
    --spacing-3: 20px;
    --spacing-4: 40px;
    --spacing-5: 60px;
    --spacing-6: 80px;
    --spacing-7: 100px;
  
    --logo-size: 75px;
    --logo-size-sm: 50px;
    --logo-size-lg: 100px;
  }
}