.skills {
    position: relative;
    color: rgb(20 36 26 / 100%);
    text-align: center;
    z-index: 1;
    overflow: hidden;
}

.skills-category {
    margin-bottom: var(--spacing-2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skills-category h3 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-2);
    /* color: rgb(78, 85, 46); */
    text-transform: uppercase;
    font-weight: 600;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-3);
    max-width: 50%
}

@media (max-width: 768px) {
    .skills-list {
        max-width: 100%;
    }
}

.skill {
    flex: 1 1 var(--height-3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: var(--spacing-2);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    max-width: var(--height-3);
    opacity: 0;
    animation: fadeIn 2s ease-in-out;
}

.skill {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.skill .tooltip {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the image */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.skill:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.skill img {
    width: var(--logo-size-sm);
    height: auto;
}

.skill:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes bounce-odd {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
}

@keyframes bounce-even {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    75% {
        transform: translateY(-5px);
    }
}

.skill:nth-child(odd) {
    animation: bounce-odd 5s infinite;
}

.skill:nth-child(even) {
    animation: bounce-even 5s infinite;
}
