.scrollable-parallax {
    height: 100%;
}
.scrollable-parallax .react-parallax-content {
    height: 100%;
}

.scrollable-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 3s ease-in-out forwards;
    height: 100%;
}

.scrollable-container .title {
    flex: 1;
}

.scrollable-content {
    flex: 2;
    display: flex;
    gap: var(--spacing-4);
    justify-content: space-between;
}

.current-component {
    flex: 4;
}

.fade-in {
    opacity: 1;
}

.slide-forward {
    transform: translateX(100%); /* Move out to the right */
    opacity: 0; /* Fade out */
}

/* Reset the initial position of the current component before transitioning */
.scrollable-content.slide-forward-enter {
    transform: translateX(-100%); /* Start from the left */
    opacity: 0; /* Start invisible */
}

/* Final state for the entering component */
.scrollable-content.slide-forward-enter-active {
    transform: translateX(0); /* End at the original position */
    opacity: 1; /* Fully visible */
}

.scrollable-container .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-2);
}

.progress-point {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    /* display: inline-block; */
}

.progress-point.fill {
    background: var(--highlight-color);
}

.progress-point.no-fill {
    background-color: #bbb;
}