.about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .about-content {
    padding: 40px;
    color: black;
    z-index: 1; /* Ensures content is above the background */
  }
  
  .about-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 1.2rem;
  }
  