.scrollable-parallax {
    height: 100%;
}
.scrollable-parallax .react-parallax-content {
    height: 100%;
}

.scrollable-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.scrollable-content {
    display: flex;
    flex:1;
    gap: var(--spacing-2);
    justify-content: space-between;
    position: relative;
}

.current-component {
    flex: 4;
}

.fade-in {
    animation: fadeIn 3s ease-in-out forwards;
}

.scrollable-container .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-2);
}

.progress-point {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    /* display: inline-block; */
}

.progress-point.fill {
    background: var(--highlight-color);
}

.progress-point.no-fill {
    background-color: #bbb;
}
