/* src/components/Contact.css */
.contact {
    padding: 100px 20px;
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .contact-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .contact-email {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .contact-email:hover {
    text-decoration: underline;
  }
  
  .contact-social a {
    margin: 0 10px;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .contact-social a:hover {
    text-decoration: underline;
  }
  