.header {
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  background-color: var(--secondary-color);
  /* z-index: 1000; */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 40px;
}

.header-nav .header-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-menu li {
  margin-left: 20px;
}

.header-menu a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.header-menu a:hover {
  text-decoration: underline;
}
