.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: var(--font-size);
  padding: var(--spacing-7) var(--spacing-2);
}
  
.footer-text a:hover {
  text-decoration: underline;
}

.language-text {
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-1);
}