.experience {
    position: relative; /* Ensure positioning context for the progress bar */
    color: #333;
    text-align: center;
  }

.experience-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    max-width: 80%;
    margin: 0 auto;
    position: relative; /* Ensure positioning context for the progress bar */
}

.experience-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: var(--spacing-2);
    gap: var(--spacing-2);
    background: #fff;
    border-radius: 10px;
    border: 2px solid var(--highlight-color);
    overflow: hidden;
    text-align: left;
}

@media (max-width: 768px) {
    .experience-item {
        flex-direction: column;
        text-align: center;
    }
}

  
.experience-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-1);
    flex: 1;
    margin-top: var(--spacing-1);
}

.experience-info h3 {
    margin: 0;
    font-size: var(--font-size-xl);
}
 
.experience-info p {
    font-size: var(--font-size);
    margin: 0;
}

.experience-logo img {
    max-width: var(--logo-size-sm);
    height: auto;
    margin-right: 20px;
}
 
  
.experience-details h3 {
    font-size: var(--font-size-lg);
    margin: 0;
}
  
.experience-details {
    font-size: var(--font-size);
}
  
.experience-date {
    font-size: var(--font-size-sm);
    color: var(--highlight-color);
}

@media (min-width: 768px) {
    .experience-description {
        text-align: left;
        flex: 2;
    }
}
  
.experience-description h3 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-1);
}
  
.experience-description p {
    font-size: var(--font-size);
}
