.experience {
    position: relative; /* Ensure positioning context for the progress bar */
    color: #333;
    text-align: center;
  }

.experience-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    max-width: 80%;
    margin: 0 auto;
    position: relative; /* Ensure positioning context for the progress bar */
}

.experience-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: var(--spacing-2);
    gap: var(--spacing-2);
    background: #fff;
    border-radius: 10px;
    border: 2px solid var(--highlight-color);
    overflow: hidden;
    text-align: left;
}

@media (max-width: 768px) {
    .experience-item {
        flex-direction: column;
        text-align: center;
    }
}
.experience-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #bbb3dd;
    transition: left 0.4s ease;
    z-index: -1;
}
  
.experience-item:hover::before {
    left: 0;
}
  
.experience-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-1);
    flex: 1;
    margin-top: var(--spacing-1);
}

.experience-info h3 {
    margin: 0;
    font-size: var(--font-size-xl);
}
 
.experience-info p {
    font-size: var(--font-size);
    margin: 0;
}

.experience-logo img {
    max-width: var(--logo-size-sm);
    height: auto;
    margin-right: 20px;
}
 
  
.experience-details h3 {
    font-size: var(--font-size-lg);
    margin: 0;
}
  
.experience-details {
    font-size: var(--font-size);
}
  
.experience-date {
    font-size: var(--font-size-sm);
    color: var(--highlight-color);
}

@media (min-width: 768px) {
    .experience-description {
        text-align: left;
        flex: 2;
    }
}
  
.experience-description h3 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-1);
}
  
.experience-description p {
    font-size: var(--font-size);
}
  
/* Progress bar */
.progress-bar {
    position: absolute;
    left: -50px;
    top: 0;
    width: 12px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0; /* Ensure it's below other content */
    border-radius: 10px;
}
  
.progress-bar-fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #bbb3dd;
    transition: height 0.3s ease-in-out;
    border-radius: 10px;
}
