.card {
    padding: var(--spacing-2);
    border-radius: 8px;
    margin-bottom: var(--spacing-3);
    box-shadow: 0 1px 6px var(--secondary-color); /* TODO: Use seconday-color var , but it makes the shadow too dark */
    margin: var(--spacing-1);
}
