.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  position: relative;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  overflow: hidden;
}

.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 50%;
  display: flex;
  justify-content: center;
}

.outer .below {
  z-index: 1;
  transition: opacity 0.5s ease, transform 2s ease;
  opacity: 0;
}

.outer .top {
  z-index: 2;
  transition: transform 2s ease, filter 0.5s ease;
  /* flex-direction: row; */
}

.outer .top.hovered {
  transform: translateX(-50%);
}

.outer .below.hovered {
  opacity: 1;
  transform: translateX(50%);
  transition: transform 1.5s ease, opacity 0.75s ease;
}

